<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliar Funcionário</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>    
    <div class="App" style="color: white">
        <header class="App-header text-center" style="background-color: #CA9DF0">
            <br><h1>Avaliar Funcionário</h1>
            <p class="small">Avalie o funcionário para retornar um feedback do seu serviço</p><br>
        </header>
    </div>

    <div class="col-8 m-auto pt-4 pb-4 text-center">
        <a href="/form1" class="btn text-white" style="background-color: #8352F0">Avaliar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
            <thead class="text-white" style="background-color: #CA9DF0">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Atendimento</th>
                    <th scope="col">Pontualidade</th>
                    <th scope="col">Qualidade</th>
                    <th scope="col">Avaliação Geral</th>
                </tr>
            </thead>
            <tbody>
            {% for dbs in db %}
                    <tr>
                        <th>{{dbs.id}}</th>
                        {% if dbs.atendimento == -2 %}
                            <td>😡</td>
                        {% endif %}
                        {% if dbs.atendimento == -1 %}
                            <td>🙁</td>
                        {% endif %}
                        {% if dbs.atendimento == 0 %}
                            <td>😐</td>
                        {% endif %}
                        {% if dbs.atendimento == 1 %}
                            <td>🙂</td>
                        {% endif %}
                        {% if dbs.atendimento == 2 %}
                            <td>😀</td>
                        {% endif %}

                        {% if dbs.pontualidade == -2 %}
                            <td>😡</td>
                        {% endif %}
                        {% if dbs.pontualidade == -1 %}
                            <td>🙁</td>
                        {% endif %}
                        {% if dbs.pontualidade == 0 %}
                            <td>😐</td>
                        {% endif %}
                        {% if dbs.pontualidade == 1 %}
                            <td>🙂</td>
                        {% endif %}
                        {% if dbs.pontualidade == 2 %}
                            <td>😀</td>
                        {% endif %}

                        {% if dbs.qualidade == -2 %}
                            <td>😡</td>
                        {% endif %}
                        {% if dbs.qualidade == -1 %}
                            <td>🙁</td>
                        {% endif %}
                        {% if dbs.qualidade == 0 %}
                            <td>😐</td>
                        {% endif %}
                        {% if dbs.qualidade == 1 %}
                            <td>🙂</td>
                        {% endif %}
                        {% if dbs.qualidade == 2 %}
                            <td>😀</td>
                        {% endif %}

                        {% if dbs.media == -2 or dbs.media < -1.5 %}
                            <td>😡</td>
                        {% endif %}
                        {% if dbs.media > -1.5 and dbs.media < -0.5 %}
                            <td>🙁</td>
                        {% endif %}
                        {% if dbs.media > -0.5 and dbs.media < 0.5 %}
                            <td>😐</td>
                        {% endif %}
                        {% if dbs.media > 0.5 and dbs.media < 1.5 %}
                            <td>🙂</td>
                        {% endif %}
                        {% if dbs.media == 2 or dbs.media > 1.5 %}
                            <td>😀</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>